$main_green: #00b997;
$main_orange: #ff5722;
$main_red: #ea4355;
$main_white: #fff;
$main_blue: #1da1f2;
$main_gray: #eaeaea;
$main_purple: rgb(86, 75, 190);

$docker-deepblue: rgb(0, 44, 102);
$docker-blue: #2496ed;
$docker-backgroundGray: #e9ebee;
$docker-boldFont: #0b214a;
$docker-lightFont: #5a6774;
