@import "../../styles/variable";

.menu-item {
  width: 100%;
  font-weight: 700;
  @apply text-xl sm:text-xl text-gray-900 hover:text-dblue-700 border-solid border-b-4 border-dgray hover:border-dblue-700;
}

.TabWrapper {
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  @apply bg-dgray w-full border-transparent;
}
